body {
    background-color: lightblue;
}

ul {
    max-width: 500px;
    margin: 0 auto;
}


li {
    /**margin-top: 20px;
    
    padding-top: 10px;
    padding-bottom: 10px;*/
    list-style: none;
}

button {
    width: 20%;
    height: 80px;
    padding-bottom: 30%;
    margin-right: 10px;
    border-radius: 10px;

}

button:hover {
    background-color: lightgrey;
    opacity: 0.4;
}


